@import "tailwindcss";

:root {
  --background: #f8fafc;
  --foreground: #111827;

  --color_primary: #075985;
  --color_secondary: #64748b;
  --color_text_muted: #475569;
  --color_primary_dark: #0c4a6e;
  --color_background_light: #d4eeff4d;
  --color_accent: #0284c7;
  --color_background_soft: #f7f9fb;
  --color_border_light: #e2e8f0;
  --color_primary_variant: #006399;
  --color_bg_soft_alpha: #f7f9fbcc;
  --color_secondary_dark: #404752;
  --color_neutral_dark: #2a3439;
  --color_neutral: #566166;
  --color_error: #9f403d;
  --color_neutral_light: #e1e9ee;
  --color_text_subtle: #94a3b8;

  --transition: all 0.2s ease-in-out;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-manrope);
  --font-mono: var(--font-geist-mono);
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-manrope), sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

@keyframes fadeNav {
  from {
    transform: translateX(-5px);
  }

  to {
    transform: translateX(0px);
  }
}